#createRideOfferDiv {
	padding: 10px;
}

#createRideOfferTitle {
	padding: 0px 10px;
}

#createRideOfferDetails {
	padding: 10px;
}

#createRideOfferForm {
	padding: 0px 10px;
}

#createRideOfferAmenities {
	padding: 10px 0px;
}

#amenitiesDiv {
	padding: 0px 5px;
}
