#createRideRequestDiv {
	padding: 10px;
}

#createRideRequestTitle {
	padding: 0px 10px;
}

#createRideRequestDetails {
	padding: 10px;
}

#createRideRequestForm {
	padding: 0px 10px;
}

#createRideRequestAmenities {
	padding: 10px 0px;
}

#preferencesDiv {
	padding: 0px 5px;
}
