.icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.values {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.row {
	margin: 0px;
}

.list > li > .card:hover {
	cursor: pointer;
	filter: brightness(85%);
}

.dropdown-menu {
	left: auto;
}

#confirmCodeModalBody {
	background: white;
}

#confirmCodeModalHeader {
	background: linear-gradient(
		135deg,
		rgb(0, 0, 0) 0%,
		rgb(236, 192, 48) 70%,
		rgb(233, 248, 19) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f2af', endColorstr='#cfb8f2', GradientType=1 );
}

#confirmCodeModalFooter {
	background: linear-gradient(
		135deg,
		rgb(233, 248, 19) 0%,
		rgb(236, 192, 48) 70%,
		rgb(0, 0, 0) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f2af', endColorstr='#cfb8f2', GradientType=1 );
}
