#editRideOfferDiv {
	padding: 10px;
}

#editRideOfferTitle {
	padding: 0px 10px;
}

#editRideOfferDetails {
	padding: 10px;
}

#editRideOfferForm {
	padding: 0px 10px;
}

#editRideOfferAmenities {
	padding: 10px 0px;
}

#amenitiesDiv {
	padding: 0px 5px;
}

.dropdown-menu {
	left: auto;
}
