.myRideOfferList {
	padding: 10px;
}

.icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.values {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.row {
	margin: 0px;
}
