#textOffer {
	margin-top: 20px;
	margin-left: 160px;
	font-size: 30px;
	font-weight: bold;
}

.list {
	font-family: sans-serif;
	margin: 0;
	padding: 20px 0 0;
}
.list > li {
	display: block;
	background-color: lightsteelblue;
	padding: 15px;
	width: 80%;
	box-shadow: inset 0 1px 0 #fff;
	border-radius: 10px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}

li:hover {
	cursor: pointer;
	background-color: skyblue;
}
