.list > li:hover {
	cursor: pointer;
	background-color: lightgrey;
}

#myRequestModal {
	position: absolute;
	top: 20%;
}

#rideDetails {
	margin-left: 162px;
}

#cancelRequestBtn {
	position: initial;
	top: 12px;
	right: 50px;
}

.myRideRequestList {
	padding: 10px;
}

.icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.values {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.row {
	margin: 0px;
}
