.list > li > .card:hover {
	cursor: pointer;
	filter: brightness(85%);
}

#myRequestModal {
	position: absolute;
	top: 20%;
}

#rideDetails {
	margin-left: 162px;
}

#cancelRequestBtn {
	position: initial;
	top: 12px;
	right: 50px;
}

.icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.values {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.row {
	margin: 0px;
}

#myRideRequestModal > .modal-body {
	height: 500px;
	background: linear-gradient(
		135deg,
		rgba(224, 242, 175, 1) 0%,
		rgba(20, 250, 216, 1) 50%,
		rgba(207, 184, 242, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f2af', endColorstr='#cfb8f2', GradientType=1 );
}
