#searchRideOfferDiv {
	padding: 10px;
}

#searchRideOfferTitle {
	padding: 0px 10px;
}

#searchRideOfferDetails {
	padding: 10px;
}

#searchRideOfferForm {
	padding: 0px 10px;
}

#searchRideOfferAmenities {
	padding: 10px 0px;
}

#searchRideOfferPreferences {
	padding: 10px 0px;
}

#amenitiesDiv {
	padding: 0px 5px;
}
