#searchRideRequestDiv {
	padding: 10px;
}

#searchRideRequestTitle {
	padding: 0px 10px;
}

#searchRideRequestDetails {
	padding: 10px;
}

#searchRideRequestForm {
	padding: 0px 10px;
}

#searchRideRequestPreferences {
	padding: 10px 0px;
}

#preferencesDiv {
	padding: 0px 5px;
}
