/* #navbar {
	position: fixed;
	width: 100%;
} */

#settingsBody {
	overflow-y: auto;
	padding: 8px 16px 16px 16px;
}

#settingsTitle {
	padding: 5px 0px;
}

#changeNicknameTitle {
	padding: 10px 0px;
}

#changePasswordTitle {
	padding: 10px 0px;
}

#changeEmailTitle {
	padding: 10px 0px;
}

#changePhoneNumberTitle {
	padding: 10px 0px;
}
