#signUpBox {
	width: 600px;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
}
#createAccTitle{
	margin-top:10px;
}

#btn-signUp{
	position:relative;
	right:0px;
    width:150px; 
	height:40px;
}

#txt-accExist {
	position: relative;
	top: 7px;
	font-size: 13px;
	left:10px;
	display: inline;
}

#emailLabel{
	left:-14px;
}

#nicknameLabel{
	left:-14px;
}

#passwordLabel{
	left:-14px;
}

#confirmPasswordLabel{
	left:-14px;
}

#phoneNumLabel{
	left:-14px;
}
